<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
    <div class="m-heading-1 border-yellow-lemon m-bordered text-center toast" id="successMessage" ng-show="addSuccessful">
        <h3 class="successMessage">Data saved successfully</h3>
    </div>
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <!-- BEGIN LOGO -->
    <div class="page-logo hidden-lg hidden-md">
        <a href="#/">
            <img src="{{settings.layoutPath}}/img/logo-forsan.png" alt="logo" class="logo-default" />
            <span> 
                {{'ForsanStudentAffairs_title'|translate}}
            </span>
        </a>
        <div class="menu-toggler sidebar-toggler">
        </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN HEADER SEARCH BOX -->
    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
    <form class="search-form hide" action="#" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." name="query">
            <span class="input-group-btn">
                <a href="javascript:;" class="btn submit">
                    <i class="icon-magnifier"></i>
                </a>
            </span>
        </div>
    </form>
    <!-- END HEADER SEARCH BOX -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <!--<div class="menu-toggler sidebar-toggler">
        <span></span>
    </div>-->
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            <!-- BEGIN LANGUAGE BAR -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <!--<li class="dropdown dropdown-language">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <img ng-if="lang !== 'ar'" alt="" src="assets/global/img/flags/us.png">
                    <span ng-if="lang !== 'ar'" class="langname"> EN </span>
                    <img ng-if="lang === 'ar'" alt="" src="assets/global/img/flags/sa.png">
                    <span ng-if="lang === 'ar'" class="langname"> عربي </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default" data-ng-controller="HeaderController">
                    <li  ng-click="changeLang('en')">
                        <a href="#">
                            <img alt="" src="{{settings.globalPath}}/img/flags/us.png" > English
                        </a>
                    </li>
                    <li  ng-click="changeLang('ar')">
                        <a href="#">
                            <img alt="" src="{{settings.globalPath}}/img/flags/sa.png"> عربي
                        </a>
                    </li>
                </ul>
            </li>-->
            <!-- END LANGUAGE BAR -->
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-user">
                <a href="#/pages/profile" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <span class="username username-hide-on-mobile"> {{user.UserName}}  </span>
                </a>

            </li>
            <!-- END USER LOGIN DROPDOWN -->
            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-quick-sidebar-toggler">
                <a href="javascript:;" class="dropdown-toggle">
                    <i class="icon-logout" ng-click="Logout();"></i>
                </a>
            </li>
            <!-- END QUICK SIDEBAR TOGGLER -->
        </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->