<div class="row">
    <div class="col-md-12">
        <div class="portlet light">

            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-docs font-red-mint" aria-hidden="true"></i>
                    <span class="caption-subject font-blue-madison bold uppercase font-red-mint">
                        New Applicant
                    </span>
                </div>

                <div class="actions btn-set">


                    <button ng-click="save()" class="btn btn-success" ng-disabled="submitted">
                        <i class="fa fa-check" aria-hidden="true"></i> Save
                    </button>


                    <button class="btn btn-secondary-outline red" ng-click="reset()">
                        <i class="fa fa-reply"></i> Reset
                    </button>


                </div>

            </div>

            <div class="portlet-body add">




                <form name="addForm" novalidate class="form-horizontal form-row-seperated">

                    <div class="form-body col-md-12 col-sm-12">

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                Applicant Name:
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="ApplicantName" placeholder="Applicant name" ng-model="applicant.ApplicantName" required />
                                <p class="font-red-mint error" ng-show="hasError('ApplicantName', 'required' )">Application Name is required</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                School:
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-9">
                                <select name="school" class="form-control form-filter input-md" ng-change="onSelected(applicant.SchoolId)" ng-disabled="disableSchool" ng-model="applicant.SchoolId" ng-options="school.SchoolId as school.SchoolName for school in schools" required>
                                    <option value="">Select..</option>
                                </select>
                                <p class="font-red-mint error " ng-show="hasError( 'school', 'required' )">School is required</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                Grade applying for:
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-9">
                                <select name="grade" required class="form-control form-filter input-md" ng-model="applicant.GradeId" ng-options="grade.GradeId as grade.GradeName for grade in grades">
                                    <option value="">Select..</option>
                                </select>
                                <p class="font-red-mint error " ng-show="hasError( 'grade', 'required' )">Grade is required</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                Discounts:
                            </label>
                            <div class="col-md-9">
                                <select name="discount" class="form-control form-filter input-md" ng-disabled="disableDiscount" ng-model="applicant.DiscountsTypeID" ng-options="discount.DiscountsTypeID as discount.DiscountName for discount in discounts">
                                    <option value="">Select..</option>
                                </select>
                                <p class="font-red-mint error " ng-show="hasError( 'discount', 'required' )">Discount Type is required</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                Application no:
                            </label>
                            <div class="col-md-9">
                                <input type="number" min=1 class="form-control" name="ApplicationNo" placeholder="Application no" ng-model="applicant.ApplicationNo" ng-change="isNumbervalid(applicant.ApplicationNo)">
                                <p class="font-red-mint error" ng-show="hasError('ApplicationNo', 'number' )">Application Number must be positive number</p>
                                <p class="font-red-mint has-error" ng-show="validNumber">Application number is duplicated</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                Joining Year:
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-9">
                                <select name="joiningYear" class="form-control form-filter input-md" required  ng-model="applicant.JoiningYearId" ng-options="year.YearId as year.YearName for year in years">
                                    <option value="">Select..</option>
                                </select>
                                <p class="font-red-mint error " ng-show="hasError( 'joiningYear', 'required' )">Joining Year is required</p>

                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">
                                Application date:
                                <span class="required"> * </span>
                            </label>
                            <div class="col-md-9" ng-controller="CalenderController as calenderVM">
                                <p class="input-group">
                                    <input type="text" name="Date" class="form-control" ng-model="applicant.ApplicationDate" required readonly   class="form-control" datepicker-popup="{{calenderVM.format}}" is-open="calenderVM.opened" min-date="calenderVM.minDate" datepicker-options="calenderVM.dateOptions"
                                        close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="calenderVM.open($event)">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                                <p class="font-red-mint error" ng-show="hasError('Date', 'required' )">Application Date is required</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <!--<label class="col-md-3 control control--checkbox sibling-check" style="left: 150px">
                                <input type="checkbox" ng-model="applicant.FreeAdmission" name="freeAdmission">
                                <div class="control__indicator"></div>
                             Free Admission
                           </label>-->
                            <label class="col-md-3 control-label">Free Admission:</label>
                            <div class="col-md-8">
                                <label class="control control--checkbox sibling-check">
                                    <input type="checkbox" ng-model="applicant.FreeAdmission" name="freeAdmission">
                                    <div class="control__indicator"></div>
                                </label>
                            </div>
                       </div>
                    </div>
                    <div style="clear:both;"></div>
                </form>
            </div>
        </div>
    </div>
</div>