<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-credit-card font-red-mint" aria-hidden="true"></i>
                    <span class="caption-subject font-blue-madison bold uppercase font-red-mint">
                        Fees types
                    </span>
                </div>
                <div class="actions">
                    <a href="#/pages/fees_type_add" class="btn btn-circle btn-info">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-xs"> Add New </span>
                    </a>

                </div>
            </div>

            <div class="portlet-body add">

                <table ng-table="feesTypesTable" class="table">
                    <tr ng-repeat="feesType in feesTypes">
                        <td data-title="'Fee Name'">{{feesType.FeeName}}</td>
                        <td data-title="'Is Mandatory'">{{feesType.IsMandatory?'Yes':'No'}}</td>
                        <td data-title="'Is Bank'">{{feesType.IsBank?'Yes':'No'}}</td>
                        <td data-title="'Is Pay Once'">{{feesType.IsPayOnce?'Yes':'No'}}</td>
                        <td data-title="'Allow Discounts'">{{feesType.AllowDiscounts?'Yes':'No'}}</td>
                        <td data-title="'Actions'">

                            <div class="action_hover_container stretch_btn_heights narrow_buttons">
                                <a class="btn btn-outline btn-circle dark btn-sm black" ng-click="edit(feesType.FeesTypeId)">
                                    <i class="fa fa-edit"></i> Edit
                                </a>

                                <a href="javascript:;" class="btn btn-outline btn-circle dark btn-sm black" ng-click="delete(feesType.FeesTypeId)">
                                    <i class="fa fa-trash-o"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>






            </div>
        </div>
    </div>
</div>