<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                    <i class="icon-graduation font-red-mint" aria-hidden="true"></i>
                    <span class="caption-subject font-blue-madison bold uppercase font-red-mint">
                        {{pageTitle}}
                    </span>
                </div>
                <div class="actions btn-set">
                    <button class="btn btn-secondary-outline" ng-click="redirect()">
                        <i class="fa fa-angle-left"></i> Back
                    </button>
                    <button class="btn btn-secondary-outline" ng-click="reset()">
                        <i class="fa fa-reply"></i> Reset
                    </button>
                    <button type="button" class="btn btn-success" ng-click="save()" ng-disabled="submitted">
                        <i class="fa fa-check" aria-hidden="true"></i> Save
                    </button>
                    <button class="btn btn-success" ng-click="continue()" ng-disabled="submitted">
                        <i class="fa fa-check-circle"></i> Save &amp; Continue Edit
                    </button>

                    <a href="#/pages/schools" type="button" class="btn red" name="cancel">
                         Cancel
                     </a>

                </div>

            </div>

            <div class="portlet-body add">
                <form name="addForm" novalidate class="form-horizontal form-row-seperated">

                    <div class="form-body col-md-6 col-sm-12">




                        <div class="form-group" ng-class="{'has-error':addForm.SchoolName.$invalid && addForm.SchoolName.$dirty}">
                            <label class="col-md-3 control-label">
                                        Name:
                                        <span class="required"> * </span>
                                    </label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="SchoolName" placeholder="" ng-model="school.SchoolName" ng-change="isNamevalid(school.SchoolName)" required>
                                <p class="font-red-mint has-error" ng-show="hasError( 'SchoolName', 'required' )">School name is required </p>
                                <p class="font-red-mint has-error" ng-show="validName">Name is duplicated</p>
                            </div>
                        </div>



                        <div class="form-group" ng-class="{'has-error':addForm.Prefix.$invalid && addForm.Prefix.$dirty}">
                            <label class="col-md-3 control-label">
                                        Prefix:
                                        <span class="required"> * </span>
                                    </label>
                            <div class="col-md-9">
                                <input type="number" class="form-control" name="Prefix" min="0" placeholder="" ng-model="school.Prefix" ng-change="isPrefixvalid(school.Prefix)" required>
                                <p class="font-red-mint has-error" ng-show="hasError( 'Prefix', 'required' )">Prefix is required </p>
                                <p class="font-red-mint has-error" ng-show="hasError( 'Prefix', 'number' )"> Positive numbers</p>
                                <p class="font-red-mint has-error" ng-show="validPrefix">Prefix is duplicated</p>
                            </div>
                        </div>


                    </div>
                    <div style="clear:both;"></div>

                </form>
            </div>
        </div>
    </div>
</div>